In [1]:
import sklearn
import pandas as pd
import numpy as np

In [5]:
rf_df = pd.read_csv('top_text.csv')
rf_df.head()

,RepeatStatus,accent,adjustable,administration,airport,antique,antitheft,apple,attach,augustus,...,tsa,twill,uvprinted,waterresistant,wax,webbing,white,wristlet,ykk,zirconia
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [6]:
target = np.array(rf_df['RepeatStatus'])
variables = rf_df.drop(['RepeatStatus'], axis = 1)
variableList = list(variables.columns)
variables = np.array(variables)

In [7]:
# Using Skicit-learn to split data into training and testing sets
from sklearn.model_selection import train_test_split
# Split the data into training and testing sets
train_variables, test_variables, train_target, test_target = train_test_split(variables, target, test_size = 0.20, random_state = 42)

from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
train_variables = sc.fit_transform(train_variables)
test_variables = sc.transform(test_variables)

In [8]:
# Import the model we are using
from sklearn.ensemble import RandomForestClassifier
# Instantiate model with 1000 decision trees
rf = RandomForestClassifier(n_estimators = 1000, random_state = 42)
# Train the model on training data
rf.fit(train_variables, train_target)
# pred = rf.predict(test_variables)

RandomForestClassifier(n_estimators=1000, random_state=42)

In [9]:
# Extract feature importances
fi = pd.DataFrame({'feature': variableList,
                   'importance': rf.feature_importances_}).\
                    sort_values('importance', ascending = False)

# Display
fi

        feature  importance
22         cash    0.046945
10         bill    0.042796
78          pen    0.031483
51  herringbone    0.029623
9          bead    0.028492
..          ...         ...
24      charger    0.000834
89     security    0.000785
17       bottle    0.000748
95         snap    0.000000
31      closure    0.000000

[115 rows x 2 columns]